{% if cookiecutter.include_bauhaus == "y" %}bauhaus
nnf
{% endif %}{% if cookiecutter.include_static_type_checking_support == "mypy" %}mypy
{% elif cookiecutter.include_static_type_checking_support == "pytype" %}pytype
{% endif %}{% if cookiecutter.include_string_markup_support == "sty" %}sty
{% elif cookiecutter.include_string_markup_support == "chalky" %}chalky
{% endif %}{% if cookiecutter.include_linting_support == "pylint" %}pylint
{% elif cookiecutter.include_linting_support == "flake8" %}flake8
{% endif %}